html, body, div, h1, h2, h3, h4, h5, h6, input, ul, ol, li, i, p, dl, dt, dd, section, area {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

a {
  background: none;
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  overflow-x: auto;
}

#main, #child {
  height: 100%;
}